<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                <input type="radio" id="tarefa-1">
                <label for="tarefa-1"> completar curso de Java Script</label>
                </div>

                <button>
                    <img src="/img/x-icon.png" alt="icone de X">
                </button>

            </form>
        </div>
    </section>
</main>